h1,h2{
    color: grey;
    font-size: 78px ;
    text-transform: uppercase;

}
h2{
    color: red;
    font-size: 78px ;
    text-transform: uppercase;

}
.classSelector{
color: rgb(55, 0, 255);
    font-style: italic ;
    text-decoration-line: underline;

}